.bg-light-grey {
    background: #eee;
}
.box {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1%;
}
.box h4 {
    float: left;
    padding-top: 4px;
}
.stock-dates {
    float: left;
    margin-bottom: 15px;
}
.stock-date {
    float: left;
    width: 20%;
}
.stock-dates .box {
    padding: 20px;
}
#stock-results {
    border-radius: 6px;
    padding-bottom: 1%;
    width: 100%;
}
