<h1>Description</h1>
<hr>
<p>Add a menu showing on screen the stock rotation for each product based on physical units (according to stock movement) or monetary units (according to cost price of product), user can choose a period for calculate the stock rotation.</p>
<p>The menu is in: <i>Warehouse > Inventory Control> stock rotation</i></p>
